section#voice-widget {
	position:absolute;
	right:10px;
	top:0;
	width:199px;
	height:300px;
	z-index:1000;
	font-size:12px;
}

#voice-widget-header
{
	height:30px;
	width:199px;
	background: url(images/gs-bar.png) center center no-repeat;
}

#voice-widget-body
{
	top:15px;
	height:270px;
	background-color:white;
	border-style:solid;
	border-width:1px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	display:none;
}

.rounded-bottom
{
	border-style:solid;
	border-width:1px;
	-webkit-border-bottom-left-radius: 10px;
	-khtml-border-radius-bottomleft: 10px;	
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-khtml-border-radius-bottomright: 10px;	
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

#voice-widget-users
{
}

.gs-button-container
{
	height:33px;
}

.gs-button
{
	font-size:11px;
	font-weight:bold;
	float:right;
  background: url(images/button.png) center center no-repeat;
	padding-top:4px;
	margin-top:8px;
	margin-right:5px;
	width:60px;
	height:17px;
	color:#FFF;
	text-align:center;
	cursor:pointer;
}

.user-name
{
	position:relative;
	font-size:14px;
	padding-left:20px;
	font-weight:bold;
	border-top:0;
	border-bottom:1px;
	border-left:0;
	border-right:0;
	height:30px;
	border-style:solid;
}

.user-name-text
{
	position:absolute;
	top:50%;
	vertical-align:middle;
	margin-top:-8px;
}

.gs-selected
{
	background-color:#666364;
}

.gs-hover
{
	background-color:#a6a4a6;
}

.gs-unselected
{
	background-color:#fff;
}
